@import url("https://fonts.googleapis.com/css?family=Muli&display=swap");

* {
  box-sizing: border-box;
}

body {
  font-family: "Muli", sans-serif;
  overflow: hidden;
  margin: 0;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(45deg, rgb(39, 110, 41) 2%, rgb(46, 56, 56));
}

.container {
  display: flex;
  width: 100%;
  padding: 0 20px;
}

.slide {
  height: 70vh;
  border-radius: 20px;
  margin: 0 10px;
  cursor: pointer;
  color: #fff;
  flex: 1;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.45), 0 10px 10px rgba(0, 0, 0, 0.22);
  transition: all 500ms ease-in-out;
}

.slide h3 {
  opacity: 0;
  position: absolute;
  bottom: 20px;
  left: 20px;
  font-size: 24px;
  font-weight: 900;
  margin: 0;
}

.slide.active {
  flex: 10;
}

.slide.active h3 {
  opacity: 1;
  transition: opacity 0.3s ease-in;
}
